# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# See http://editorconfig.org
root = true

[*.py]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false
